* {
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(bg-intro-desktop.png);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.error {
  display: none;
}
/*D:focuswithin:required:invalid .error {
  display: block;
}*/
h1 {
  font-size: 50px;
  color: white;
}
p {
  font-size: 18px;
  color: white;
  font-weight: 400;
letter-spacing: 0.5px;
}

main {
  display: flex;
  width: 70%;
  margin: auto;
  height: 95vh;
  align-items: center;
}
.left {
  margin: 8em;
  margin-left: 0;
}
.right {
  width: 100%;
  align-items: center;
  text-align: center;
  /* border: 2px solid; */
  margin: 0%;
}
form{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 10px 1px 0px rgba(51, 49, 49, 0.233);
}
.topleft {
  margin-bottom: 30px;
  box-shadow: 0px 10px 1px 0px rgba(51, 49, 49, 0.233);
  /* width: 80%; */
  font-size: 18px;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* margin-bottom: 20px; */
  background-color: hsl(248, 32%, 49%);
}
.light {
  font-weight: ;
}
.right div {
  margin: 20px;
  /* border: 1px solid; */
}
input {
    border-radius: 5px;
  width: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(209, 209, 209);
  /* border: none; */
  /* border: 0.5px lightslategray; */
  /* border: 0.2px solid; */
}
.right button {
    border: none;
    box-shadow: inset 0px -5px 1px 0px rgba(51, 49, 49, 0.233);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
  padding: 20px;
  width: 100%;
  background-color: hsl(154, 59%, 51%);
}

.consent{
    color: hsl(246, 25%, 77%);
}
.consent a{
    text-decoration-line: none;
    color: red;
    font-weight: 600;
}
.topleft span{
    font-weight: 200;
    color: rgb(248, 248, 248);
}